* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

body {
    padding-bottom: 500px;
}

.aula {
    border-bottom: 1px solid red;
    padding: 2em;
    margin: 1em;
}